body{
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: brown;
}
#menu-container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkolivegreen;
}
.menu-imagel {
    width: 300px;
    padding: 20px;
}
.menu-item {
    margin: 20px;
    width: 400px;
}